<div class="navBar">
    {% for item in site.data.navigation %}
        <a class="navLink" id="{{item.name}}" href="{{item.link}}">{{ item.name }}</a>
        {% if item.name != "About" %}<div class="navDivider"></div>{% endif %}
    {% endfor %}
    <div class="navSpacer"></div>
    <div id="resume"><img class="navIcon" src="./assets/images/icons/download.png">Resume</div>
    <div class="navDivider"></div>
    {% for item in site.data.socials %}
        <img class="navIcon " src="{{ item.src }}">
        {% if item.name != "Twitter" %}<div class="navDivider"></div>{% endif %}
    {% endfor %}
</div>