$pageColor: #191818 !default; // Black
$basePrimary: #262322 !default; // Raisin Black
$basePrimaryLight: #2B2827 !default; // Raisin Black
$baseSecondary: #404040 !default; // Raisin Black (Light)
$textPrimary: #FFD23F !default; // Sunglow
$textSecondary: #CED3DC !default; // French Gray