[class*="corner"] {
    position: absolute;

    height: 10vw;
    width: 10vw;

    border-color: transparent;
    border-style: solid;
    border-radius: 10px 0;
    border-width: 2.5vw;
}

[class*="corner-top"] { top: min(2vh, 1vw); }

[class*="corner-bot"] { bottom: min(2vh, 1vw); }

.corner-top-l { left: 1vw; }
.corner-top-r { right: 1vw; }
.corner-bot-l { left: 1vw; }
.corner-bot-r { right: 1vw; }