[class*="layer"] {
    border-width: 1px;
    border-style: solid;
}

.layer1 { border-color: orange; }
.layer2 { border-color: blue; }
.layer3 { border-color: purple; }
.layer4 { border-color: green; }