[class*="frame"] {
    position: absolute;

    height: 10vmax;
    width: 10vmax;

    border-color: transparent;
    border-style: solid;
    border-radius: 1vmin 0;
    border-width: 2.5vmax;
}

[class*="frame-top"] { top: 1vmax; }

[class*="frame-bot"] { bottom: 1vmax; }

.frame-top-l { left: 1vmax; }
.frame-top-r { right: 1vmax; }
.frame-bot-l { left: 1vmax; }
.frame-bot-r { right: 1vmax; }