@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
    }
    100% {
        animation: none;
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(10px, 0);
    }
    100% {
        animation: none;
        opacity: 1;
    }
}

/* Navbar Lift */
.navBar:hover {
    border-style: solid;
    border-width: 3px 0 0 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .8);
}

/* Tile Lifts */
.liftLeft {
    transition: 0.3s;
}

.liftRight {
    transition: 0.3s;
}

.liftLeft:hover {
    border-style: solid;
    border-width: 0 3px 3px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

.liftRight:hover {
    border-style: solid;
    border-width: 0 0 3px 3px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .8);
}

/* Preview Lift */
.preview:hover {
    border-style: solid;
    border-width: 0 0 3px 3px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, .8);
}

/* Colors */
.blue {
    background-color: #457EAC;
    border-color: #1B1F3B;
    color: white;
}

.gray {
    background-color: #6E8898;
    border-color: #253031;
    color: white;
}

.red {
    background-color: #FF5964;
    border-color: #7D1538;
    color: white;
}

.white {
    background-color: #F7F0F5;
    border-color: gray;
    color: black;
}

.yellow {
    background-color: #FFD23F;
    border-color: #FF7F51;
    color: black;
}