
/* Large devices (landscape tablets, laptops 768px and up) */
@media only screen and (min-width: 768px) {
    #intro {
        float: right;
        clear: both;
    }

    #intro .whitespace p {
        font-size: 18px;
    }

    #profileContainer {
        float: right;
        clear: both;
    }
}

/* Extra Large devices (laptops, desktops 1252px and up) */
@media only screen and (min-width: 1252px) {
    #intro {
        float: none;
    }

    #intro .whitespace p {
        font-size: 20px;
    }

    #profileContainer {
        float: right;
        position: absolute;
        top: 55px;
        right: 5px;
    }
}

/* Bubbles */
.bubble {
    border-radius: 25px;
    padding: 5px 7px 5px 7px;
    width: fit-content;
}

/* Intro Tile */
#intro p {
    margin: 10px 0 0 0;
    padding: 5px;
}

/* Info Tile */
    /* Name & Photo */
#namePhoto {
    display: flex;
    flex-flow: row nowrap;
    height: 135px;
}

#namePhoto h2 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 32px;
    margin: 0px 0px 0px 0px;
    max-width: 75%;
    justify-content: center;
}

#pfp {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: 20%;
}

#pfp img {
    border-radius: 10px;
    height: 100%;
}

    /* Info Section */
#profileInfo {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0 0 0;
    padding: 10px;
}

#profileInfo h3 {
    margin: 5px 0 5px 0;
    padding: 0 0 0 5px;
}

#eLink {
    align-items: center;
    color: #0000EE;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 0 10px;
    width: fit-content;
}

#profileInfo a p {
    margin: 0 0 0 10px;
}

#profileInfo .wrapper {
    display: flex;
    flex-flow: row wrap;
    row-gap: 5px;
    column-gap: 5px;
}

#education {
    padding: 0 0 0 10px;
}

#education p {
    width: 100%;
}

/* Projects Tile */
#projects {
    animation-delay: 0.8s;
}

    /* Preview Boxes */
#previews {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    justify-content: space-evenly;
    margin: 15px 0 0 0;
    row-gap: 10px;
}

.preview {
    border-radius: 5px;
    max-height: 312px;
    max-width: 368px;
    padding: 5px;
    transition: 0.3s;
}

@media only screen and (max-width: 620px) {
    .preview {
        width: 100%;
    }
}

.preview img {
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    height: 180px;
    padding: 5px;
    width: 100%;
}

.previewInfo {
    padding: 0 5px 0 5px;
}

.previewHeader {
    display: flex;
    flex-flow: row nowrap;
}

.headerText {
    width: fit-content;
}

.language {
    float: right;
    margin: 0 0 auto auto;
}

/* Status Tile */
#status {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
}

#status .whitespace {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

#status .whitespace p {
    text-align: center;
}