.navBar {
    align-items: center;
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 24px;
    height: 30px;
    justify-content: center;
    margin: 5px 5px 0 5px;
    padding: 5px 25px 5px 25px;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    width: calc(100% - 60px);
    z-index: 10;
}

.navLink{
    align-content: center;
    align-self: flex-start;
    color: black;
    cursor: pointer;
    display: flex;
    height: 100%;
    transition: 0.3s;
}

.navLink p {
    margin: 0 0 0 5px;
}

.navLink:hover {
    color: #8B786D;
    cursor: pointer;
}

.navDivider {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 100%;
    margin: 5px 10px 5px 10px;
    width: 1px;
}

.navSpacer {
    flex-grow: 2;
}

#resume {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.navIcon {
    align-self: flex-end;
    height: 30px;
}
