.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 350px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navLink {
    color: black;
}

.navLink:hover {
    color: #8B786D;
}

.navLink p {
    margin: 0 0 0 10px;
}

.navDivider {
    border-color: black;
    border-style: solid;
}

/* Extra small to Medium devices (phones, tablets 768px and down) */
@media only screen and (max-width: 767px) {
    #compactNav {
        height: 35px;
    }

    #wideNav {
        display: none;
    }

    .navSpacer {
        height: 100%;
        width: 30px;
    }

    #homeIcon {
        align-items: center;
        color: black;
        display: flex;
        justify-content: center;
        margin: 0 0 0 10px;
    }

    /* 3-bar Menu */
    #panelButton {
        cursor: pointer;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 0 10px 0 0;
    }
    .bar1, .bar2, .bar3 {
        background-color: #333;
        height: 3px;
        transition: 0.4s;
        width: 30px;
    }
    .change .bar1 { transform: translate(0, 9.5px) rotate(-45deg); }
    .change .bar2 { opacity: 0; }
    .change .bar3 { transform: translate(0, -9.5px) rotate(45deg); }
    
    #navSidebar {
        align-items: center;
        border-radius: 15px 0 0 15px;
        display: flex;
        flex-flow: column nowrap;
        font-size: 32px;
        overflow-x: hidden;
        padding: 15px;
        position: fixed;
        right: -100%;
        top: 35px;
        transition: 1s;
        z-index: 1;
    }

    #navSidebar .whitespace {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 10px 5px 10px 5px;
        width: 100%;
    }

    #socialCol {
        align-items: center;
        display: flex;
        flex: 2;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    #navCol {
        align-items: flex-end;
        display: flex;
        flex-flow: column;
        justify-content: right;
        margin: 0 5px 0 0;
    }

    .navLink {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        width: fit-content;
    }

    .navDivider {
        border-width: 1px 0 0 0;
        height: 1px;
        margin: 4px 0 4px 0;
        width: 100%;
    }
}

/* Large to Extra Large devices (landscape tablets, laptops, desktops 768px and up) */
@media only screen and (min-width: 768px) {
    #compactNav {
        display: none;
    }

    #wideNav {
        align-items: center;
        border-radius: 25px;
        font-size: 24px;
        height: 45px;
        margin: 5px;
        overflow: hidden;
        padding: 5px 25px 5px 25px;
        width: calc(100% - 10px);
    }
    
    #navSidebar {
        display: none;
    }

    .navSection {
        display: flex;
        height: 100%;
        flex-flow: row nowrap;
    }

    #pageSection {
        justify-content: flex-start;
    }

    #socialSection {
        justify-content: flex-end;
    }
    
    .navLink{
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: 0.3s;
    }

    .navLink:hover {
        color: #8B786D;
    }

    .navDivider {
        border-width: 0 1px 0 0;
        margin: 5px 10px 5px 10px;
        width: 1px;
    }

    .navSpacer {
        flex-grow: 2;
    }

    #resume {
        align-items: center;
        display: flex;
    }

    .navIcon {
        align-self: flex-end;
        height: 30px;
    }
}
