.navBar {
    align-items: center;
    background-color: #FFD23F;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 24px;
    margin: 5px 5px 0px 5px;
    padding: 5px 25px 5px 25px;
    height: 30px;
    width: calc(100% - 62px);
    overflow: hidden;
    position: fixed;
}

.navLink{
    align-content: center;
    align-self: flex-start;
    color: #13262F;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
}

.navLink:hover {
    color: #8B786D;
}

.navDivider {
    border-color: #13262F;
    border-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    height: 100%;
    margin: 5px 10px 5px 10px;
    width: 1px;
}

.navSpacer {
    flex-grow: 2;
}

#resume {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navIcon {
    align-self: flex-end;
    cursor: pointer;
    max-height: 30px;
}
