.preview {
    background-color: #F7F0F5;
    border-radius: 5px;
    padding: 5px;
    max-height: 265px;
    max-width: 312px;
    color: #13262F;
    margin: 5px 0px 5px 0px;
}

.preview img {
    width: 300px;
    height: 150px;
    padding: 5px;

    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
}

.previewInfo {
    padding: 0 5px 5px 5px;
}

.previewHeader {
    display: flex;
}

.previewHeaderInfo {
    width: fit-content;
}

.previewHeaderInfo h3 {
    padding: 0px;
    margin: 0px;
}

.previewHeaderInfo p {
    padding: 0px;
    margin: 0px;
}

.previewSummary p {
    padding: 0px;
    margin: 0px;
}

.boxSpacer {
    width: 10px;
}