---
---
// @use "dev-layers";
@use "corners";

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.background {
    position: absolute;
    
    border-style: solid;
    border-width: 1vh 0 1vh 0;
}

main {
    position: absolute;
    display: flex;
}