---
---
// @use "dev-layers";
@use "corners";
@use "material-symbols";
@use "colors";
@use "fonts";

* {
    box-sizing: border-box;
    outline: 1px solid red;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #{colors.$pageColor};
}

// background
.background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border-width: 1svh 0 1svh 0;
    background-color: #{colors.$basePrimary};
    border-color: #{colors.$textPrimary};
}

@media (orientation: landscape) {
    .background {
        left: 1.5vmax;
        top: 3svh;
        width: 97vw;
        height: 94svh;
    }
}

@media (orientation: portrait) {
    .background {
        left: 2vmax;
        top: 2svh;
        width: 92vw;
        height: 96svh;
    }
}

// frames
.frame-top-l {
    border-top-color: #{colors.$textSecondary};
    border-left-color: #{colors.$textSecondary};
}

.frame-bot-r {
    border-right-color: #{colors.$textSecondary};
    border-bottom-color: #{colors.$textSecondary};
}

.slice-top-r {
    border-top-color: #{colors.$pageColor};
    border-right-color: #{colors.$pageColor};
}

.slice-bot-l {
    border-left-color: #{colors.$pageColor};
    border-bottom-color: #{colors.$pageColor};
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

@media (orientation: landscape) {
    main {
        width: 95%;
        height: 90%;
    }
}

@media (orientation: portrait) {
    main {
        width: 85%;
        height: 95%;
    }
}