---
---
@use "material-symbols";
@use "colors";
@use "fonts";

// Page Colors
body {
    background-color: #{colors.$pageColor};
}

.frame-top-l {
    border-top-color: #{colors.$textSecondary};
    border-left-color: #{colors.$textSecondary};
}

.frame-bot-r {
    border-right-color: #{colors.$textSecondary};
    border-bottom-color: #{colors.$textSecondary};
}

.slice-top-r {
    border-top-color: #{colors.$pageColor};
    border-right-color: #{colors.$pageColor};
}

.slice-bot-l {
    border-left-color: #{colors.$pageColor};
    border-bottom-color: #{colors.$pageColor};
}

.background {
    background-color: #{colors.$basePrimary};
    border-color: #{colors.$textPrimary};
}

#hey {
    color: #{colors.$textSecondary};
}

#name {
    color: #{colors.$textPrimary};
}

#selfdesc {
    color: #{colors.$textSecondary};
}

#position {
    color: #{colors.$textPrimary};
}

.project {
    background-color: #{colors.$baseSecondary};
    color: #{colors.$textPrimary};
}

.logo, .title, .preview {
    background-color: #{colors.$baseSecondary};
}

// section
.section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;

    @media (orientation: landscape) {
        width: 50%;
        height: 100%;
    }
    
    @media (orientation: portrait) {
        width: 100%;
    }
}

@media (orientation: portrait) {
    #first {
        height: 40%;
    }

    #second {
        height: 60%;
    }
}

// content
.content {
    display: flex;
    flex-grow: 1;

    @media (orientation: landscape) {
        justify-content: center;
        gap: 5vh;
    }

    @media (orientation: portrait) {
        justify-content: space-evenly;
    }
}

#intro {
    flex-direction: column;

    #header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        
        #mylogo {
            width: 20%;
        }

        #greet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Jersey 25";

            > * {
                width: 100%;
                margin: 0;
                font-weight: 100;
            }

            #hey {
                font-size: 3vmax;
                line-height: 5vmin;
                height: 5vmin;
            }

            #name {
                font-size: 10vmin;
                line-height: 10vmin;
                height: 10vmin;
            }
        }
    }

    #blurb {
        display: flex;
        flex-flow: column;
        text-align: center;
        font-family: "Share Tech";
        gap: 1svh;

        > p {
            font-size: 2vmax;
            height: fit-content;
            margin: 0;
            padding: 10px;
        }
    }
}

// projects
#projects {
    @media (orientation: landscape) {
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

    @media (orientation: portrait) {
        flex-flow: column;
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: center;
        padding: 1svh 0 1svh 0;
        row-gap: 1svh;
    }

    .project {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border-top-left-radius: 0px;

        @media (orientation: landscape) {
            width: 40%;
            height: 38%;
        }

        @media (orientation: portrait) {
            width: 80%;
            height: 60%;
        }

        .titlebar {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            justify-content: baseline;

            @media (orientation: landscape) {
                height: 15%;
            }

            @media (orientation: portrait) {
                height: 20%;
            }

            .logo {
                height: 100%;
                margin: 0;
                padding: .5svh .5svh .5svh 2%;
            }

            .title {
                height: 100%;
                max-width: 80%;
                white-space: nowrap;
                font-family: "Jersey 25";
                font-weight: 100;
                text-align: left;
                align-content: center;
                margin: 0;
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;

                
                @media (orientation: landscape) {
                    font-size: 3vmin;
                }

                @media (orientation: portrait) {
                    font-size: 2vmax;
                }
            }

            .slant {
                border-top: 3cqh solid transparent;
                border-right: 3cqh solid transparent;
                
                border-left: 3cqh solid #{colors.$baseSecondary};
                border-bottom: 3cqh solid #{colors.$baseSecondary};
            }
        }

        .preview {
            padding: 2%;
            height: 100%;
            border-radius: 5px;
            border-top-left-radius: 0px;
            cursor: pointer;
        }
    }
}

// links
.links {
    width: 100%;
    display: flex;
    height: 10%;

    @media (orientation: landscape) {
        height: 10%;
    }

    @media (orientation: portrait) {
        height: 6svh;
    }
}

.link-nav {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;

    h2 {
        font-family: "Jersey 25";
        font-size: 6vmin;
        font-weight: 100;
        height: 100%;
        align-content: center;
        cursor: pointer;
    }

    div {
        min-width: 2svh;
    }
}

#nav-one {
    color: #{colors.$textSecondary};
}

#nav-two {
    color: #{colors.$textPrimary};
}
