---
---
@import "bubble";
@import "navigation";
@import "index";
@import "preview";

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('fonts/RobotoMono-Regular.ttf')
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFEFEF;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
    min-height: 100%;
    padding: 0px;
}

main {
    padding: 55px 5px 0px 5px;
}

a:hover {
    cursor: pointer;
}

footer {
    text-align: center;
}