@import "navigation";
@import "index";
@import "preview";

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('fonts/RobotoMono-Regular.ttf')
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F7F7FF;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
    min-height: 100%;
    padding: 0px;
}

main {
    
}